footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em 0;
}

footer p {
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Iconos */
.fa-instagram {
    color: transparent;
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
    -webkit-background-clip: text;
    background-clip: text;
}

.fa-facebook {
    color: #0866ff;
}

.fa-whatsapp {
    color: #25d366;
}

/* Fin iconos */